<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/show.css" />
<%- include('../partials/nav') %>

<main>
  <section>
  <!-- <a href="/zodiacs">Return</a> will move to Nav -->
    <h1><%= title %></h1>
    <div id="western-zod">
      <img src="<%= zodiac.wZodImgURL %>" alt="western zodiac">
      <p id="name"><%= zodiac.wZodName %></p>
      <p id="desc"><%= zodiac.wZodDesc %></p>
    </div>
    <div id="estern-zod">
      <img src="<%= zodiac.eZodImgURL %>" alt="eastern zodiac">
      <p id="name"><%= zodiac.eZodName %></p>
      <p id="desc"><%= zodiac.eZodDesc %></p>
    </div>

    <% if(user) { %> 
      <h2>Q: Which zodiac is more accurate? (vote only if you belong to this group)</h2>
      <!-- <form action="/zodiacs/<%= zodiac.id %>/edit" method="GET">
        <button class="btn" type="submit">Vote</button>
      </form> -->
      <form action="/zodiacs/<%= zodiac.id %>/polls" method="POST">
        <label>
          <%= zodiac.wZodName %>
          <input type="radio" name="name" value="<%= zodiac.wZodName %>" checked>
          <%= zodiac.eZodName %>
          <input type="radio" name="name" value="<%= zodiac.eZodName %>"> 
        </label>
        <button type="submit">Submit</button>
      </form>
      <% 
        let wCount = 0
        let eCount = 0
        zodiac.polls.forEach(poll => { 
          if(poll.name === zodiac.wZodName) {
            wCount++
          } else {
            eCount++
          }
        })
      %>
        <p> <%= zodiac.wZodName %>: <%= wCount %> </p>
        <p> <%= zodiac.eZodName %>: <%= eCount %> </p>
    <% } else { %> 
      <p id="cta">login using Google Account and find your zodiac signs for free!</p>
    <% } %> 
      
  </section>
</main>

<%- include('../partials/footer') %>