<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/show.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %></h1>
    <div id="western-zod">
      <img src="<%= zodiac.wZodImgURL %>" alt="western zodiac">
      <p id="name"><%= zodiac.wZodName %></p>
      <p id="desc"><%= zodiac.wZodDesc %></p>
    </div>
    <div id="estern-zod">
      <img src="<%= zodiac.eZodImgURL %>" alt="eastern zodiac">
      <p id="name"><%= zodiac.eZodName %></p>
      <p id="desc"><%= zodiac.eZodDesc %></p>
    </div>

    <% if(user) { %> 
      <p id="question">Q: Which zodiac is more accurate? (vote only if you belong to this group)</p>
      <form id="poll" action="/zodiacs/<%= zodiac.id %>/polls" method="POST">
        <label>
          <%= zodiac.wZodName %>
          <input type="radio" name="name" value="<%= zodiac.wZodName %>">
          <%= zodiac.eZodName %>
          <input type="radio" name="name" value="<%= zodiac.eZodName %>"> 
        </label>
        <button type="submit" id="submit-btn">Submit</button>
      </form>
      <%
        let wCount = 0
        let eCount = 0
        zodiac.polls.forEach(poll => { 
          if(poll.name === zodiac.wZodName) {
            wCount++
          } else {
            eCount++
          }
        })
      %>
      <div id="poll-results">
        <div id="w-poll-results">
          <div id="w-zod-name"> <%= zodiac.wZodName %> </div>
          <img src="<%= zodiac.wZodImgURL %>" alt="western zodiac">
          <div id="w-zod-count"><%= wCount %> </div>
        </div>
        <div id="e-poll-results">
          <div id="e-zod-name"> <%= zodiac.eZodName %> </div>
          <img src="<%= zodiac.eZodImgURL %>" alt="western zodiac">
          <div id="e-zod-count"> <%= eCount %> </div>
        </div>
      </div>

      <div id="comment-area">
        <p id="comment-title">Comments</p>

        <div id="post-comment">
          
          <form action="/zodiacs/<%= zodiac._id %>/comments" method="POST">
            <label>
              <input type="text" name="content" placeholder="Add a comment..." autocomplete="off">
            </label> 
            <button type="submit">Submit</button>
          </form>
          
        </div>

        <div id="show-comments">
          <% if(zodiac.comments.length) { %> 
            <% zodiac.comments.forEach(comment => { %> 
              <p><%= comment.content %></p>
              <% console.log(comment.id) %> 
              <form 
                action="/zodiacs/comments/<%= comment.id %>?_method=DELETE"
                method="POST"
                style="display: inline-block;"
              >
                <button type="submit">X</button>
              </form>
            <% }) %>
          <% } %> 

        </div>
      </div>

    <% } else { %> 
      <p id="cta">Login using Google Account and find your zodiac signs for free!</p>
    <% } %> 
      
  </section>
</main>

<%- include('../partials/footer') %>