<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/show.css" />
<%- include('../partials/nav') %>

<main>
  <section>
  <!-- <a href="/zodiacs">Return</a> will move to Nav -->
    <h1><%= title %></h1>
    <div id="western-zod">
      <img src="<%= zodiac.wZodImgURL %>" alt="western zodiac">
      <p id="name"><%= zodiac.wZodName %></p>
      <p id="desc"><%= zodiac.wZodDesc %></p>
    </div>
    <div id="estern-zod">
      <img src="<%= zodiac.eZodImgURL %>" alt="eastern zodiac">
      <p id="name"><%= zodiac.eZodName %></p>
      <p id="desc"><%= zodiac.eZodDesc %></p>
    </div>

    <% if(user) { %> 
      <h2>Q: Which zodiac is more accurate? (vote only if you belong to this group)</h2>
      <form action="/zodiacs/<%= zodiac.id %>/edit" method="GET">
        <button class="btn" type="submit">Vote</button>
      </form>
      <p><%= zodiac.wZodName %>: <%= zodiac.wZodPollCount %></p>
      <p><%= zodiac.eZodName %>: <%= zodiac.eZodPollCount %></p>
    <% } else { %> 
      <p id="cta">login using Google Account and find your zodiac signs for free!</p>
    <% } %> 
      
  </section>
</main>

<%- include('../partials/footer') %>