<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/zodiacs/show.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title %></h1>
    <div id="western-zod">
      <img src="<%= zodiac.wZodImgURL %>" alt="western zodiac">
      <p id="name"><%= zodiac.wZodName %></p>
      <p id="desc"><%= zodiac.wZodDesc %></p>
    </div>
    <div id="estern-zod">
      <img src="<%= zodiac.eZodImgURL %>" alt="eastern zodiac">
      <p id="name"><%= zodiac.eZodName %></p>
      <p id="desc"><%= zodiac.eZodDesc %></p>
    </div>

    <% if(user) { %> 
      <% if(!hasVoted) {%>  
        <p class="question-area">Q: Which resonates with you more? (vote if you belong to this group)</p>
        <form id="poll" action="/zodiacs/<%= zodiac.id %>/polls" method="POST">
          <label>
            <%= zodiac.wZodName %>
            <input type="radio" name="name" value="<%= zodiac.wZodName %>" required>
            <%= zodiac.eZodName %>
            <input type="radio" name="name" value="<%= zodiac.eZodName %>"> 
          </label>
          <button type="submit" class="btn submit-btn">Submit</button>
        </form>
      <% } else { %>
        <p class="question-area">Poll Results</p>
      <% } %> 

      <%
        let wCount = 0
        let eCount = 0
        zodiac.polls.forEach(poll => { 
          if(poll.name === zodiac.wZodName) {
            wCount++
          } else {
            eCount++
          }
        })
      %>
      <div id="poll-results">
        <div id="w-poll-results">
          <div id="w-zod-name"> <%= zodiac.wZodName %> </div>
          <div id="w-zod-count"><%= wCount %></div>
        </div>
        <div id="e-poll-results">
          <div id="e-zod-name"> <%= zodiac.eZodName %> </div>
          <div id="e-zod-count"> <%= eCount %> </div>
        </div>
      </div>

      <div id="comment-area">
        <p id="comment-title">Comments</p>

        <div id="post-comment">
          <img class="user-info user-avatar"
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          /> 
          <p class="user-info "><%= user.profile.name %> </p>
          <form class="form-comment" action="/zodiacs/<%= zodiac._id %>/comments" method="POST">
            <label>
              <input id="add-comment" type="text" name="content" placeholder="Add comment..." autocomplete="off">
            </label> 
            <button class="btn submit-btn" type="submit">Submit</button>
          </form>
          
        </div>

        <div id="show-comments">
          <% if(zodiac.comments.length) { %> 
            <% zodiac.comments.forEach(comment => { %> 
              <!-- show user avatar here -->
              <p id="show-comment-content"><%= comment.content %></p>
              <form 
                action="/zodiacs/<%= zodiac._id %>/comments/<%= comment._id %>?_method=DELETE"
                method="POST"
                style="display: inline;"
              >
                <button class="btn submit-btn" type="submit">X</button>
              </form>
            <% }) %>
          <% } %> 

        </div>
      </div>

    <% } else { %> 
      <p id="cta">Login to vote for your favorite sign!</p>
    <% } %>

    <% if(user?.profile._id.toString() === '622669962d4ce2771ef2a36a') { %> 
      <p class="warning">**Admin Access**</p>
      <form 
      class="edit" 
      action="/zodiacs/<%= zodiac._id %>/edit" 
      method="GET"
      >
        <button class="edit-btn btn" type="submit">Edit Zodiac</button>
      </form>
      <form 
        class="delete"
        action="/zodiacs/<%= zodiac._id %>?_method=DELETE" 
        method="POST"
        >
          <button class="delete-btn btn" type="submit">Delete Zodiac</button>
      </form>
    <% } %> 
    <!-- create link to new page for comments and polls here -->
  </section>
</main>

<%- include('../partials/footer') %>