<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Find Your Zodiac Signs</h1>

  <img id="idx_zod_img" src="/images/assets/index_zodiac_images.png" alt="">

<!-- 
  <h1>hello, <%= user ? user.profile.name : "friend" %></h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %> -->

  <p>Your Sun sign and Eastern counterpart</p>
  <a href="/zodiacs"><button class="btn start-button" id="start-button">Start</button></a>
  
</main>

<%- include('./partials/footer') %>
