<%- include('../partials/html-head') %>

<link 
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
  rel="stylesheet" 
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
  crossorigin="anonymous"
>
<link rel="stylesheet" href="/stylesheets/memes/index.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1>Memes! 🤣🤣</h1>
    <% if (user) { %>
      <h2>Add a Meme!</h2>
      <form action="/memes" method="POST">
        <label>
          Title: 
          <input type="text" name="title" autocomplete="off">
        </label>
        <label>
          URL: 
          <input type="text" name="URL" autocomplete="off">
        </label>
        <label>
          Funny?
          <input type="checkbox" name="funny">
        </label>
        <button type="submit">Add Meme</button>
      </form>
    <% } %>

    <h2>All the Memes!</h2>
    <ul>
    <% memes.forEach(meme => { %>
      <li> <%= meme.title %> is <%= meme.funny ? 'funny' : 'not funny' %></li>
    <% }) %>
    </ul>
  </section>
</main>

<%- include('../partials/footer') %>